/* General Styles */
body {
  font-family: "Satisfy", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  text-align: center;
  width: 80%;
  max-width: 800px;
}

h1 {
  font-size: 3em;
  color: #532a7f;
  margin-bottom: 20px;
}

.total {
  font-size: 1.2em;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
  font-size: 1em;
  border: 2px solid #532a7f;
  border-radius: 5px;
}

input:focus {
  border-color: #8a4fdc; /*Do this or else*/
}

button {
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  background-color: #532a7f;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #8a4fdc;
}

/* Controls Playlist  */
.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.song {
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-title {
  font-size: 1.2em;
  color: #532a7f;
}

.remove-song {
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 0.9em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.remove-song:hover {
  background-color: #cc0000;
}

.hide {
  display: none;
}

/* a button control */
button {
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  background-color: #9634ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7e2dcb;
}

button#shuffle-btn {
  margin-top: 1em;
}

/*Footer information*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background-color: #f1f1f1;
  border-top: 2px solid #ccc;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.footer .phone {
  margin-bottom: 10px;
}

.footer p {
  margin: 0;
}

/*Razzle Dazzle*/

.footer p {
  color: #555;
}

/* Media Queries Section */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2em;
  }

  .song-title {
    font-size: 1em;
  }
}
